In [14]:
import pandas as pd

movies_merge = pd.read_excel('movies_merge.xlsx')
ott_merge = pd.read_csv('ott_merge.csv')

movies_merge.shape

(16744, 11)

In [31]:
movies_merge.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime'],
      dtype='object')

In [15]:
movies_merge.head

<bound method NDFrame.head of           ID                           Title  Year  Age  IMDb  \
0          1                       Inception  2010  13+   8.8
1          2                      The Matrix  1999  18+   8.7
2          3          Avengers: Infinity War  2018  13+   8.5
3          4              Back to the Future  1985   7+   8.5
4          5  The Good, the Bad and the Ugly  1966  18+   8.8
...      ...                             ...   ...  ...   ...
16739  16740       The Ghosts of Buxley Hall  1980  NaN   6.2
16740  16741                  The Poof Point  2001   7+   4.7
16741  16742           Sharks of Lost Island  2013  NaN   5.7
16742  16743              Man Among Cheetahs  2017  NaN   6.6
16743  16744                In Beaver Valley  1950  NaN   NaN

       Rotten Tomatoes                       Directors  \
0                 0.87               Christopher Nolan
1                 0.87  Lana Wachowski,Lilly Wachowski
2                 0.84         Anthony Russo,Joe Russo
3                 0.96                 Robert Zemeckis
4                 0.97                    Sergio Leone
...                ...                             ...
16739              NaN                    Bruce Bilson
16740              NaN                     Neal Israel
16741              NaN                    Neil Gelinas
16742              NaN            Richard Slater-Jones
16743              NaN                     James Algar

                                 Genres                       Country  \
0      Action,Adventure,Sci-Fi,Thriller  United States,United Kingdom
1                         Action,Sci-Fi                 United States
2               Action,Adventure,Sci-Fi                 United States
3               Adventure,Comedy,Sci-Fi                 United States
4                               Western      Italy,Spain,West Germany
...                                 ...                           ...
16739      Comedy,Family,Fantasy,Horror                 United States
16740              Comedy,Family,Sci-Fi                 United States
16741                       Documentary                 United States
16742                       Documentary                 United States
16743          Documentary,Short,Family                 United States

                      Language  Runtime
0      English,Japanese,French    148.0
1                      English    136.0
2                      English    149.0
3                      English    116.0
4                      Italian    161.0
...                        ...      ...
16739                  English    120.0
16740                  English     90.0
16741                  English      NaN
16742                  English      NaN
16743                  English     32.0

[16744 rows x 11 columns]>

In [8]:
movies_merge.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [16]:
ott_merge.shape

(16744, 5)

In [32]:
ott_merge.columns

Index(['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], dtype='object')

In [17]:
ott_merge.head

<bound method NDFrame.head of           ID  Netflix  Hulu  Prime Video  Disney+
0          1        0     0            1        0
1          2        0     1            0        0
2          3        0     0            1        0
3          4        1     0            0        0
4          5        0     0            1        0
...      ...      ...   ...          ...      ...
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

[16744 rows x 5 columns]>

In [18]:
ott_merge.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [22]:
df_1 = movies_merge.merge(ott_merge, how='left', on='ID')
df_1

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [23]:
df_1.shape

(16744, 15)

In [24]:
df_1.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')

In [25]:
df_1.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
Netflix              int64
Hulu                 int64
Prime Video          int64
Disney+              int64
dtype: object

In [27]:
df_2 = pd.concat([movies_merge, ott_merge], axis=0)
df_2

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16740,16741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16741,16742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16742,16743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0
16743,16744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

In [28]:
df_2.shape

(33488, 15)

In [29]:
df_2.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors',
       'Genres', 'Country', 'Language', 'Runtime', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+'],
      dtype='object')

In [30]:
df_2.dtypes

ID                   int64
Title               object
Year               float64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
Netflix            float64
Hulu               float64
Prime Video        float64
Disney+            float64
dtype: object

In [ ]:
# In this case I would use the merge() function. The concat() function stacks values and it is not 
# suitable for this situation